
<h1 class="pb-4">Usuario logado</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(user != '') { %>
    <h2>Nome: <%= user.nick %> <br>Email: <%= user.email %></h2>

  <% } %>      
</div>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <h3>Categorias</h3>
  <a class="card-link" href="/register-category">Cadastrar</a>   
  <a class="card-link" href="/edit-categories">Editar</a>      
</div>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <h3>Postagens</h3>
  <a class="card-link" href="/submit-post">Cadastrar</a>   
  <a class="card-link" href="/edit-posts">Editar</a>      
</div>
